<html>
  <head>
    <title><%= @post.title %> | <%= @blog.name %></title>
    <meta keyword="description" description="<%= @post.description %>">
  </head>
  <body>
    <%= @post.content %>
  </body>
</html>
